/project-root

|-- /modules
    |--/adminModule
                 |-- admin.controller.js
                 |-- admin.routes.js
                 |-- admin.schema.js
                 |-- admin.service.js
    |--/companyModule
                 |-- company.controller.js
                 |-- company.routes.js
                 |-- company.schema.js
                 |-- company.service.js
    |--/mailModule
                 |-- mail.controller.js
                 |-- mail.routes.js
                 |-- mail.schema.js
                 |-- mail.service.js
    |--/userModule
                 |-- user.controller.js
                 |-- user.routes.js
                 |-- user.schema.js
                 |-- user.service.js   
.env         
#  DOTenv
.env

node_modules/